---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=16scFxoxQDKMuRBqNBwnGdyEt927y4WWwzakDZ0b&fuel_type=ELEC,LPG&location=60073&radius=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 18 Apr 2016 15:44:12 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":42.3612999,"longitude":-88.0899304,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":7,"station_counts":{"total":10,"fuels":{"E85":{"total":0},"ELEC":{"total":8,"stations":{"total":5}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":2}}},"offset":0,"fuel_stations":[{"access_days_time":"8am-5pm
        M-F, 8am-12pm Sat","cards_accepted":"Cash D M V","date_last_confirmed":"2015-11-03","expected_date":null,"fuel_type_code":"LPG","id":21207,"groups_with_access_code":"Public
        - Call ahead","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"Hicksgas","station_phone":"847-356-8225","updated_at":"2016-01-13T18:00:20Z","geocode_status":"200-8","latitude":42.416261,"longitude":-88.078478,"city":"Lake
        Villa","intersection_directions":"Next to tracks","plus4":null,"state":"IL","street_address":"200
        E Grand Ave","zip":"60046","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":false,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"distance":3.83854},{"access_days_time":"6:30am-10pm
        M-Sat, 8am-8pm Sun","cards_accepted":"A Checks Cash D M V","date_last_confirmed":"2015-11-03","expected_date":null,"fuel_type_code":"LPG","id":50497,"groups_with_access_code":"Public","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"Menards","station_phone":"847-973-3050","updated_at":"2016-04-08T12:39:15Z","geocode_status":"GPS","latitude":42.364053,"longitude":-88.171275,"city":"Fox
        Lake","intersection_directions[...]
